@model List<Employee>
@{
    ViewBag.Title = "List of Employee";
}
<h1>List of Employees</h1>
<a asp-controller="Employee" asp-action="Add">Add Employee</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in @Model)
        {
            <tr>
                <td>@employee.EmployeeID</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.JobTitle</td>
                <td>@employee.Salary</td>
                <td><a asp-controller="Employee" asp-action="Detail" asp-route-id="@employee.EmployeeID">View</a></td>
            </tr>
        }
    </tbody>
</table>
